{% extends "base.html" %}

{% block content %}
    <h1 id ="title" class="well">Список сотрудников в системе
        <label class="checkbox">
            <input id="working_now" type="checkbox" checked="checked"> Только работающих сейчас
        </label>
    </h1>
    <table class="table table-striped">
        <thead class="strong">
            <tr> 
                <th>#</th>
                <th>СНИЛС</th>
                <th>Полное имя</th>
                <th>Телефон</th>
                <th>Домашний адрес</th>
            </tr>
        </thead>
        <tbody id = 'dataset'>
            {# с помощью конструкции {{ var }} подставляются переменные #}
            {% for e in data.objects %}
            <tr onclick="window.location=uri_to_page_addr('{{ e.resource_uri }}')">
                <td>{{ e.id }}</td>
                <td>{{ e.snils }}</td>
                <td>{{ e.name }}</td>
                <td>{{ e.phone }}</td>
                <td>{{ e.addr }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="pagination pagination-centered">
        <ul>
            <li id="prev" class="enabled"><a href="#">Prev</a></li>
            <li class="active"><a href="#" id="current">Отображены записи с # по # из #</a></li>
            <li id="next" class="enabled"><a href="#">Next</a></li>
        </ul>
    </div>
{% endblock content %}


{% block userscript %}
<script language="JavaScript">
    function uri_to_addr( uri ) {
        return "/api" + uri;
    }

    function uri_to_page_addr( uri ) {
        return uri;
    }

    function clear_dataset( ) {
        var Parent = $('#dataset')[0];
        while ( Parent.hasChildNodes( ) ) {
           Parent.removeChild( Parent.firstChild );
        }
    }
    
    function build_dataset( data ) {
        return '<tr onclick="window.location=uri_to_page_addr(\'' + data.resource_uri + '\')\">'
             +   '<td>' + data.id + '</td>'
             +   '<td>' + data.snils + '</td>'
             +   '<td>' + data.name + '</td>'
             +   '<td>' + data.phone + '</td>'
             +   '<td>' + data.addr + '</td>'
             + '</tr>';
    }
    
    function update_pager( ) {
        $('#current').empty();
        text = "Отображена страница " + meta.page + " из " + meta.total_pages;
        $('#current').append(text);
        
        if ( meta.uri_next == null ) {
            $('#next')[0].classList.add('disabled');
        } else {
            $('#next')[0].classList.remove('disabled');
        }

        if ( meta.uri_previous == null ) {
            $('#prev')[0].classList.add('disabled');
        } else {
            $('#prev')[0].classList.remove('disabled');
        }
    }

    function rebuild_page( json ) {
        meta    = json.meta;
        clear_dataset( );
        $.each(json.objects, function(){
            $('#dataset').append(build_dataset(this));
        });
        update_pager();
    }
    
    $(document).ready(function() {
        $('#prev').click(function(){
            if ( meta.uri_previous != null ) { 
                $.getJSON(uri_to_addr(meta.uri_previous), {}, function(json){    
                    rebuild_page( json );
                });
            }
        });

        $('#next').click(function(){
            if ( meta.uri_next != null ) { 
                $.getJSON(uri_to_addr(meta.uri_next), {}, function(json){    
                    rebuild_page( json );
                });
            }
        });

        $('#working_now').change(function(){
            self = $('#working_now')[0];
            if ( self.checked ) {
                url = uri_to_addr(meta.uri_exist);
            } else {
                url = uri_to_addr(meta.uri_allexist);
            }
            $.getJSON(url, {}, function(json){
                rebuild_page( json );
            });
        });
    });
    
    {# сохраняем на клиенте #}
    meta = {};
    meta['total_count']  = {{ data.meta.total_count }};
    meta['total_pages']  = {{ data.meta.total_pages }};
    meta['limit']        = {{ data.meta.limit }};
    meta['page']         = {{ data.meta.page }};
    meta['uri_first']    = "{{ data.meta.uri_first|safe }}";
    meta['uri_last']     = "{{ data.meta.uri_last|safe }}";
    meta['uri_exist']    = "{{ data.meta.uri_exist|safe }}";
    meta['uri_allexist'] = "{{ data.meta.uri_allexist|safe }}";
    meta['uri_previous'] = {% if data.meta.uri_previous %} "{{ data.meta.uri_previous|safe }}" {% else %} null {% endif %};
    meta['uri_next']     = {% if data.meta.uri_next %} "{{ data.meta.uri_next|safe }}" {% else %} null {% endif %};
    
    update_pager();
</script>
{% endblock userscript %}
